fastapi==0.109.2
fastapi-cors==0.0.6
logging_json==0.3.0
pydantic==2.4.2
pydantic-settings==2.0.3
pytz==2022.7.1
requests==2.32.3
SQLAlchemy==2.0.16
uvicorn==0.22.0
validators==0.20.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.6
urllib3==1.26.7
fido2==1.1.3